nav{
	background-color:#bbbbbb;
	font-family:Arial, sans serif;
}
a{
	background-color:#333FDD;
	color: white;
	text-decoration: none;
	display:block;
	padding:10px;
	width:200px;
	float:left;
}

a:hover{
	background-color: orange;

}

.clearfix:after{
	display: block;
	visibility: hidden;
	content: " ";
	clear:both;
	height:0;
	font-size:0;
}